#root {
  max-width: 1400px;
  margin: 0 auto;
  padding: 16px;
  text-align: center;

  @media (max-width: 350px) {
    padding: 8px;
  }
}

.title {
  margin: 16px 0;
}

.desc {
  color: #c6c6c6;
}
